

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minha Loja{% endblock %}</title>
    <style>
        body { font-family: 'Segoe UI', sans-serif; margin: 0; background: #f4f4f4; }
        nav { background: #333; color: white; padding: 1rem; text-align: center; }
        .container { padding: 20px; max-width: 1200px; margin: auto; }
        footer { text-align: center; padding: 2rem; color: #666; }
    </style>
</head>
<body>
    <nav>
        <strong>PROJETO VITRINE</strong> | 
        <a href="/" style="color: white;">Início</a> | 
        <a href="/login" style="color: white;">Login</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>© 2026 - Sistema Escalável em Rust</footer>
</body>
</html>


<!--  Passo 1: Organizando a "Base" (Template Inheritance)
Para não ter que repetir o menu e o rodapé em cada nova página (Login, Equipamentos, Cosméticos), vamos usar o extends do Tera. -->